/* .nav {
  border: 1px solid black;
} */

.navItems ul {
  border: 1px solid black;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 0 auto;
}
.navItems ul li {
  margin: 1rem;
  list-style: none;
}
.navItems ul li a {
  text-decoration: none;
}
.navItems ul li a:active,
.navItems a.active,
.navItems a:hover {
  color: #95bcf0;
  padding-bottom: 0.25rem;
  border-bottom: 4px solid #95bcf0;
}
